@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************/
/* Variables */
:root {
  --clr-bright-blue: hsl(220, 98%, 61%);
  --checkbox-bg-blue: hsl(192, 100%, 67%);
  --checkbox-bg-purple: hsl(280, 87%, 65%);
  --h1-color: hsl(0, 0%, 98%);
  --dark-grayish-blue: hsl(234, 11%, 52%);

  --font-default: 'Josefin Sans', sans-serif;
  --font-size: 0.875rem;
  --font-fixed: 0.875rem;

  --border-r: 5px;
  --padding-inline: 1rem;
  --theme-transition: 350ms;
  --other-transitions: 200ms;
}

/************************************************/
/* General Styles */
body {
  /* Dark Theme Colors */
  --body-background-color: hsl(235, 21%, 11%);
  --todo-background-color: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --buttons-hover: hsl(235, 32%, 92%);
  --buttons-text-color: hsl(234, 11%, 52%);
  --todo-border-color: hsl(237, 14%, 26%);
  --checkbox-border-color: var(--todo-border-color);
  --todo-completed-color: hsl(233, 14%, 35%);

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-background-color);
  font-family: var(--font-default);
  font-size: var(--font-size);
  padding: clamp(3rem, 8vw, 4.75rem) 1.5rem;
  overflow-x: hidden;
  transition: background-color var(--theme-transition) ease;
}

body.light-theme {
  /* Light Theme Colors */
  --body-background-color: hsl(0, 0%, 98%);
  --todo-background-color: hsl(0, 0%, 100%);
  --text-color: hsl(235, 19%, 35%);
  --buttons-hover: var(--text-color);
  --buttons-text-color: hsl(236, 9%, 61%);
  --todo-border-color: hsl(233, 11%, 84%);
  --checkbox-border-color: var(--todo-border-color);
  --todo-completed-color: var(--todo-border-color);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-size);
}

/************************************************/
/* Hero Classes */
.hero-item-container {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--todo-border-color);
  padding-inline: var(--padding-inline);
  position: relative;
}

.hero-item-container.hero-item-container--hide {
  display: none;
}

.hero-cb {
  width: 0;
  position: absolute;
  z-index: -10;
}

.hero-cb + .hero-label {
  width: 100%;
  height: auto;
  cursor: pointer;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  position: relative;
  transition: color var(--other-transitions) ease, text-decoration-line var(--other-transitions) ease;
}

.hero-item-container > .hero-label {
  margin-right: 0.75rem;
  padding: 0.625rem 0 0.5rem 2.75rem;
}

.hero-label::before {
  content: '';
  width: 22px;
  height: 22px;
  background: linear-gradient(var(--todo-background-color), var(--todo-background-color)) content-box,
    linear-gradient(var(--checkbox-border-color), var(--checkbox-border-color)) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition: opacity var(--other-transitions) ease;
}

.hero-label::after {
  content: '';
  width: 22px;
  height: 22px;
  background: linear-gradient(var(--todo-background-color), var(--todo-background-color)) content-box,
    linear-gradient(145deg, var(--checkbox-bg-blue), var(--checkbox-bg-purple)) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  opacity: 0;
  transition: opacity var(--other-transitions) ease;
}

.hero-label:hover::before,
.hero-cb:focus-visible + .hero-label::before {
  opacity: 0;
}

.hero-label:hover::after,
.hero-cb:focus-visible + .hero-label::after {
  opacity: 1;
}

.hero-cb:checked + .hero-label::before {
  background: url('../images/icon-check.svg') center center / 12px no-repeat,
    linear-gradient(145deg, var(--checkbox-bg-blue), var(--checkbox-bg-purple)) content-box,
    linear-gradient(145deg, var(--checkbox-bg-blue), var(--checkbox-bg-purple)) border-box;
  opacity: 1;
  z-index: 1;
}

.hero-btn-del {
  display: inline-flex;
  opacity: 1;
  color: var(--buttons-text-color);
  position: relative;
  padding: 0.25rem;
}

.hero-btn-del::before,
.hero-btn-del::after {
  width: 14px;
  height: 14px;
}

.hero-btn-del::before {
  content: '';
  background: url('../images/icon-cross.svg') center / auto no-repeat;
  opacity: 0;
  transition: opacity var(--other-transitions) ease;
}

.hero-item-container:hover > .hero-btn-del::before,
.hero-item-container:focus-within > .hero-btn-del::before {
  opacity: 1;
}

.hero-shadow {
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow var(--theme-transition) ease;
}

body.light-theme .hero-shadow {
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.06);
}

/************************************************/
/* Header Container */
#header-container {
  width: clamp(1px, 100%, 550px);
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(2.5rem, 6vw, 3rem);
}

#background-img {
  width: 100vw;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../images/bg-mobile-dark.jpg') top left / cover;
  transition: background-image var(--theme-transition) ease;
}

#background-img.light-theme {
  background-image: url('../images/bg-mobile-light.jpg');
}

#header-container > h1 {
  font-size: clamp(1.5rem, 6vw, 2.25rem);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: var(--h1-color);
}

#btn-theme-toggle {
  width: 26px;
  height: 26px;
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

.theme-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform var(--theme-transition) ease;
}

.theme-icon.active-theme {
  transform: scale(1);
}

/************************************************/
/* Main Container */
#main-container {
  width: clamp(1px, 100%, 550px);
}

#main-container button {
  transition: color var(--other-transitions) ease;
}

#main-container button:hover,
#main-container button:focus-visible {
  color: var(--buttons-hover);
}

/* Todo Form Container */
#todo-form {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--todo-background-color);
  border-radius: var(--border-r);
  padding-inline: var(--padding-inline);
  margin-bottom: 1rem;
  position: relative;
}

#todo-form::before {
  content: 'Please enter a valid name!';
  display: none;
  width: 100%;
  position: absolute;
  bottom: -14px;
  left: 0;
  background-color: inherit;
  color: rgb(255, 100, 100);
  font-size: 0.875rem;
  text-align: center;
  border-radius: 0 0 var(--border-r) var(--border-r);
  padding: 0.125em;
}

#todo-form.invalid-value::before {
  display: block;
}

#todo-form > .hero-label {
  height: 29px;
  width: 34px;
}

#todo-form__txt {
  width: 100%;
  height: 16px;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: 300;
  line-height: 16px;
  caret-color: var(--clr-bright-blue);
}

#todo-form__txt:focus-visible {
  outline: none;
}

/* Todo Container */
#todo-container {
  background-color: var(--todo-background-color);
  border-radius: var(--border-r);
  margin-bottom: 110px;
  position: relative;
}

#btn__lock-unlock {
  display: flex;
  bottom: 5%;
  right: 0.5rem;
  position: fixed;
  font-size: 1.125rem;
}

#btn__lock-unlock .fa-lock {
  display: none;
  color: var(--checkbox-bg-purple);
}

#btn__lock-unlock .fa-unlock {
  color: var(--clr-bright-blue);
}

#btn__lock-unlock.lock-drag-drop .fa-lock {
  display: block;
}

#btn__lock-unlock.lock-drag-drop .fa-unlock {
  display: none;
}

.hero-item-container[data-completed='true'] > .hero-label {
  color: var(--todo-completed-color);
  text-decoration-line: line-through;
}

.blue-background-class {
  background-color: var(--checkbox-border-color);
}

.sortable-drag {
  opacity: 0;
}

/* Todo Footer Container */
#todo-footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 1.125rem;
}

#todo-items__left,
#todo-footer button {
  font-size: var(--font-fixed);
  color: var(--buttons-text-color);
}

#todo-filter {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  align-items: center;
  position: absolute;
  bottom: -64px;
  left: 0;
  background-color: var(--todo-background-color);
  border-radius: var(--border-r);
}

#todo-filter > button {
  font-weight: 700;
}

#todo-filter > button.filter__button--on {
  color: var(--clr-bright-blue);
}

#main-container > p {
  font-size: var(--font-fixed);
  color: var(--dark-grayish-blue);
  text-align: center;
}

footer {
  color: var(--text-color);
  font-size: var(--font-fixed);
  text-align: center;
  line-height: 1.8em;
  padding-inline: 1em;
  margin-top: 3rem;
}

.attribution > a {
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.9;
}

.fa-heart {
  color: var(--clr-bright-blue);
}

.attribution > a:hover,
.attribution > a:focus-visible {
  color: var(--clr-bright-blue);
}

/************************************************/
/* Media Queries */

@media (max-width: 699px) {
  #todo-filter {
    box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.1);
  }

  body.light-theme #todo-filter {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05);
  }
}

@media only screen and (max-width: 768px) {
  .hero-btn-del::before {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  :root {
    --padding-inline: 1.5rem 1.125rem;
    --font-size: 1.125rem;
  }

  .hero-item-container {
    height: 62px;
    padding-inline: var(--padding-inline);
  }

  .hero-item-container > .hero-cb + .hero-label {
    padding: 0.625rem 0 0.5rem 3rem;
  }

  .hero-label::before,
  .hero-label::after {
    width: 26px;
    height: 26px;
  }

  .hero-btn-del::before {
    width: 18px;
    height: 18px;
  }

  #background-img {
    height: 300px;
    background: url('../images/bg-desktop-dark.jpg') center left / cover;
  }

  #background-img.light-theme {
    background-image: url('../images/bg-desktop-light.jpg');
  }

  #btn-theme-toggle {
    width: 26px;
    height: 26px;
  }

  #todo-form {
    height: 64px;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
  }

  #todo-form > .hero-label {
    height: 35px;
    width: 38px;
  }

  #todo-form__txt {
    height: 26px;
    line-height: 26px;
  }

  #todo-container {
    margin-bottom: 52px;
  }

  #todo-filter {
    width: auto;
    position: static;
  }
}
